<launch>
    <arg name ="checkpoint_path"        default="$(find lightweight_human_pose_estimation)/script/checkpoints/checkpoint_iter_370000.pth"/>
    <arg name ="height_size"            default="256"/>
    <arg name ="cpu"                    default="true"/>
    <arg name ="track"                  default="1"/>
    <arg name ="smooth"                 default="1"/>

    <arg name ="input_image_topic"  default="/camera/rgb/image_raw"/>

    <arg name ="pose_2d_img_show" default="false"/>
    <arg name ="pose_2d_img_pub"  default="true"/>
    <arg name ="pose_2d_log_show" default="false"/>

    <node name="human_pose_2d" pkg = "lightweight_human_pose_estimation" type="human_pose_2d.py" output="screen">
        <param name="checkpoint_path"       type="str"      value="$(arg checkpoint_path)"/>
        <param name="height_size"           type="int"      value="$(arg height_size)"/>
        <param name="cpu"                   type="bool"     value="$(arg cpu)"/>
        <param name="track"                 type="int"      value="$(arg track)"/>
        <param name="smooth"                type="int"      value="$(arg smooth)"/>

        <param name="input_image_topic"     type="str"      value="$(arg input_image_topic)"/>

        <param name="pose_2d_img_show"      type="bool"     value="$(arg pose_2d_img_show)"/>
        <param name="pose_2d_img_pub"       type="bool"     value="$(arg pose_2d_img_pub)"/>
        <param name="pose_2d_log_show"      type="bool"     value="$(arg pose_2d_log_show)"/>
    </node>
</launch>