
<launch>
    <include file="$(find lightweight_human_pose_estimation)/launch/human_pose_estimation.launch" >
        <arg name ="checkpoint_path"        value="$(find lightweight_human_pose_estimation)/script/checkpoints/checkpoint_iter_370000.pth"/>
        <arg name ="height_size"            value="256"/>
        <arg name ="pose_img_show_flag"     value="true"/>
        <arg name ="pose_pub_result_image"  value="true"/>
        <!-- <arg name ="pose_image_topic_name"  value="/camera/rgb/image_raw"/>  -->
        <arg name ="pose_image_topic_name"  value="/rgb/image_raw"/> 
        <arg name ="cpu"                    value="false"/>
        <arg name ="track"                  value="1"/>
        <arg name ="smooth"                 value="1"/>
    </include>
    <node name="human_pose_tf_broadcaster" pkg="lightweight_human_pose_estimation" type="human_pose_tf_broadcaster" respawn="false" output="screen">
        <param name="base_frame_name" value="base_footprint"/>
        <param name="cloud_topic_name" value="/points2"/>
    </node>
</launch>