<launch>
        <node name="human_pose_tf_broadcaster" pkg="lightweight_human_pose_estimation" type="human_pose_tf_broadcaster" respawn="false" output="screen">
            <param name="base_frame_name" value="base_footprint"/>

            <param name="cloud_topic_name" value="/points2"/>
        </node>
</launch>