<!-- ROS 2のlaunchシステムのインポート -->
from launch import LaunchDescription
from launch_ros.actions import Node

<!-- すべてのノードや設定をまとめて返す関数 -->
def generate_launch_description():
<!-- ノードの起動に関する設定, packageにはパッケージ名を、executableには実行するノードのタイプを指定-->
    return LaunchDescription([
        Node(
            package='libuvc_camera',
            executable='camera_node',
            name='mycam',
            <!-- ノードに渡すパラメータのリスト ,ROS 1のように個別に指定するのではなく辞書形式で一括指定-->
            parameters=[{
                'vendor': '0x0',
                'product': '0x0',
                'serial': '',
                'index': 0,
                'width': 1280,
                'height': 720,
                'video_mode': 'mjpeg',  # 他には 'yuyv', 'nv12', 'uncompressed' など
                'frame_rate': 30,
                'timestamp_method': 'start',  # フレームの開始時刻
                'camera_info_url': 'file:///tmp/cam.yaml',
                'auto_exposure': 3,
                'auto_white_balance': False
            }],
            <!-- トピックのリマップ設定→型の設定 -->
            remappings=[
                ('/image_raw', '/camera/rgb/image_raw')
            ]
        )
    ])
